<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JYNote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A764ED251E5BD50E00C244C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A764ED3E1E5BD50E00C244C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A764ED491E5BD50E00C244C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
